<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

 
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.timeout">300</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>
	    <mapping class="gamification.model.Calificacion" />
		<mapping class="gamification.model.Capacitador" />
		<mapping class="gamification.model.Curso" />
		<mapping class="gamification.model.CursoOferta" />
		<mapping class="gamification.model.Estudiante" />
		<mapping class="gamification.model.Evaluacion" />
		<mapping class="gamification.model.EvaluacionTomada" />
		<mapping class="gamification.model.Group" />
		<mapping class="gamification.model.Inscripcion" />
		<mapping class="gamification.model.Permission" />
		<mapping class="gamification.model.PermissionGranted" />
		<mapping class="gamification.model.Persona" />
		<mapping class="gamification.model.Pregunta" />
		<mapping class="gamification.model.PreguntaFormulada" />
		<mapping class="gamification.model.Respuesta" />
		<mapping class="gamification.model.TemaCurso" />
		<mapping class="gamification.model.TipoPregunta" />
		<mapping class="gamification.model.Token" />
		<mapping class="gamification.model.User" />
	</session-factory>
	    
</hibernate-configuration>