<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

 
<hibernate-configuration>
    <session-factory>
        <mapping class="gamification.model.Group" />
        <mapping class="gamification.model.Permission" />
        <mapping class="gamification.model.PermissionGranted" />
        <mapping class="gamification.model.Persona" />
        <mapping class="gamification.model.User" />
    </session-factory>
	    
</hibernate-configuration>